/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/03/2016, 11:13:39 PM
    Author     : Mauro
*/

*{
    border: 0;
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
    display: block;
    font-family: Helvetica;
    font-size: 100%;
}

a{
    color: #696969;
    text-decoration: underline;
    cursor: pointer;
}

label,
button{
    cursor: pointer;
    font-weight: bold;
}

input[type=text],
button{
    border: solid thin #323232;
    padding: .25rem .8rem;
    border-radius: 3px;
}

button{
    transition: .35s;
}

button:hover{
    background-color: #696969;
    color: white;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

tr{
    border-bottom: solid thin #323232;
}

th,td{
    padding: .5rem 1rem;
    text-align: center;
}

.title{
    background-color: #696969;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.subtitle{
    color: #696969;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.formFindRunner{
    text-align: center;
}

.center{
    text-align: center;
    padding: 2rem 1rem 1rem;
}

.mid-padding{
    padding: .5rem;
}

.resultMarathon table{
    max-width: 100%;
    width: 800px;
    margin: .5rem auto;
}
